
<!DOCTYPE html>
<html>
   <head>
      <title>${the_title} - ${company_name}</title>
      <meta content='initial-scale=1.0, width=device-width' name='viewport' />
      <meta http-equiv='content-type' content='text/html;charset=utf-8'/>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'/>
      <link class='lfr-css-file' href='../css/custom.css' rel='stylesheet' type='text/css'/>
      <script src='../js/less.min.js'></script>
      <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
      <script src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.js'></script>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js'></script>
      <script src='../js/jquery.slider.min.js' type='text/javascript'></script>
      <script src='../js/jquery.rssfeed.js' type='text/javascript'></script>
      <script src='../js/jQCloud.min.js' type='text/javascript'></script>
      <script src='../js/bootstrap-fileInput.js' type='text/javascript'></script>
      <script type='text/javascript' src='../js/sdg.js'></script>
   </head>
   <body class='sdg-blog'>
      <div class='thin-sdg-blue visible-md visible-lg'>
         <div class='top-info col-md-12'>
            <div class='container-fluid'>
               <div class='row'>
                  <p class='pull-left'>Solution Design Group - (952) 278-2500</p>
                  <div class='social-icons pull-right'>
                     <ul>
                        <li class="social-facebook"><a href="https://www.facebook.com/pages/Solution-Design-Group/30153548764 " target="_blank"></a></li>
                        <li class="social-twitter"><a href="https://twitter.com/Solution_Design" target="_blank "></a></li>
                        <li class="social-linkedin"><a href="https://www.linkedin.com/company/20603" target="_blank "></a></li>
                        <li class="social-blog last"><a href="#"></a></li>
                     </ul>
                  </div>
                  <!-- end of social icons -->
               </div>
            </div>
         </div>
      </div>
      <div class='top-info col-md-12'>
         <div class='row'>
            <div class='banner col-md-12'></div>
         </div>
      </div>
      <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li><a href='our-solutions.html'>Our Solutions <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
               <li><a href='our-people.html'>Our People <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
               <li><a href='blog.html' class='blog'>Blog <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
               <li><a href='about.html'>About <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
               <li><a href='#' class='contact-sdg'>Contact <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><a href='#' class='joinOurTeam'>Join Our Team <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div id='sdg-slideshow' class='col-md-12'>
         <div class='container-fluid'>
            <div class='row'>
               <div class='flexslider'>
                  <ul class='slides'>
                     <li class='first-slide'>
                        <p class='col-md-12'>The sdg Blog is designed to show you who we are and what we're all about. Whether you're looking to read up on the latest technologies, trying to improve your soft skills, or wondering what we've been up to, our blog offers something for everybody.</p>
                        <!--<a href='/about' class='btn btn-primary'>Learn More</a></p>-->
                     </li>
                     <li class='second-slide'>
                        <p class='col-md-12'>
                           We are technology-minded and team-oriented. When you join sdg, you're not just joining a company; you're joining a community of talented people where our work gatherings feel more like family reunions.<br/>
                           <!--<a href='/about' class='btn btn-primary'>Learn More</a></p>-->
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class='section-titles col-md-12 studies'>
         <div class='container-fluid'>
            <div class='col-md-12'>
               <span>sdg Blog</span>
            </div>
         </div>
      </div>

      <div class='inner-content sdg-blog col-md-8'>
         <form action="https://sdg.solutiondesign.com/blog?p_p_id=33&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-1&amp;p_p_col_count=1&amp;_33_struts_action=%2Fblogs%2Fsearch" class="form " id="_33_fm1" method="get" name="_33_fm1">
         <input name="_33_formDate" type="hidden" value="1410366196773"> <input name="p_p_id" type="hidden" value="33"><input name="p_p_lifecycle" type="hidden" value="0"><input name="p_p_state" type="hidden" value="normal"><input name="p_p_mode" type="hidden" value="view"><input name="p_p_col_id" type="hidden" value="_118_INSTANCE_KGtw0jO1mMp0__column-1"><input name="p_p_col_count" type="hidden" value="1"><input name="_33_struts_action" type="hidden" value="/blogs/search"> <input class="field" id="_33_redirect" name="_33_redirect" type="hidden" value="https://sdg.solutiondesign.com/blog?p_p_id=33&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-1&amp;p_p_col_count=1"> 
         <div class="navbar " id="nyvh">
            <div class="navbar-inner">
               <div class="">
                  <a class="btn btn-navbar" id="_33_bxpvNavbarBtn" data-navid="_33_bxpv"><i class="icon-search"></i></a> 
                  <div class="" id="_33_bxpvNavbarSearchCollapse">
                     <div class="navbar-search pull-right" id="_33_bxpv">
                        <div class="form-search">
                           <div class="input-append"> 
                              <input class="search-query form-control col-md-4" id="_33_keywords1" name="_33_keywords" placeholder="Keywords" title="" type="text" value="">
                              <button class="btn btn-default" type="submit"> Search </button> </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="subscribe"> <span class="taglib-rss"> <a href="https://sdg.solutiondesign.com/blog/-/blogs/rss" target="_blank" class=" taglib-icon" id="_33_rjus__118_INSTANCE_KGtw0jO1mMp0__column1_0" title="(Opens New Window)"> <img id="rjus__118_INSTANCE_KGtw0jO1mMp0__column1_0" src="https://sdg.solutiondesign.com/sdg-theme/images/spacer.png" alt="" style="background-image: url('https://sdg.solutiondesign.com/sdg-theme/sprite/images/common/_sprite.png'); background-position: 50% -1326px; background-repeat: no-repeat; height: 16px; width: 16px;"> <span class="taglib-text ">RSS</span> <span class="opens-new-window-accessible">(Opens New Window)</span></a> </span> </div>
      </form>
         <div id='divRss'></div>
      </div>
      <div class='sdg-blog-right-column col-md-4'>
         <div class="portlet-column portlet-column-last span4" id="_118_INSTANCE_KGtw0jO1mMp0_column-2">
            <div class="portlet-dropzone portlet-column-content portlet-column-content-last" id="layout-column__118_INSTANCE_KGtw0jO1mMp0__column-2">
               <div class="portlet-boundary portlet-boundary_122_ portlet-static portlet-static-end portlet-borderless portlet-asset-categories-navigation " id="p_p_id_122_INSTANCE_KzwKXONf3xFf_">
                  <span id="p_122_INSTANCE_KzwKXONf3xFf"></span> 
                  <div class="portlet-borderless-container" style="">
                     <div class="portlet-body">
                        <div class="accordion taglib-asset-categories-navigation" id="_122_INSTANCE_KzwKXONf3xFf_taglibAssetCategoriesNavigationPanel">
                           <div class="accordion-group lfr-panel lfr-panel-extended" id="ejal">
                              <div class="accordion-heading " data-persist-id="ejal">
                                 <div class="accordion-toggle"> <span class="title-text"> Category </span> </div>
                              </div>
                              <div class="" id="ejalContent">
                                 <div class="accordion-inner">
                                    <div class="lfr-asset-category-list-container yui3-widget component tree-view" id="yui_patched_v3_11_0_1_1410366197809_189">
                                       <ul class="lfr-asset-category-list tree-view-content tree-normal tree-root-container" id="yui_patched_v3_11_0_1_1410366197809_199">
                                          <li class="tree-node" id="yui_patched_v3_11_0_1_1410366197809_220">
                                             <div class="tree-node-content tree-node-leaf"><i class=""></i><span class="tree-label unselectable"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=122_INSTANCE_KzwKXONf3xFf&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_categoryId=12442">Community</a></span></span></div>
                                             <ul class="tree-container hide" hidden="true" style="display: none;"></ul>
                                          </li>
                                          <li class="tree-node" id="yui_patched_v3_11_0_1_1410366197809_260">
                                             <div class="tree-node-content tree-node-leaf"><i class=""></i><span class="tree-label unselectable"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=122_INSTANCE_KzwKXONf3xFf&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_categoryId=12444">Culture</a></span></span></div>
                                             <ul class="tree-container hide" hidden="true" style="display: none;"></ul>
                                          </li>
                                          <li class="tree-node" id="yui_patched_v3_11_0_1_1410366197809_298">
                                             <div class="tree-node-content tree-node-leaf"><i class=""></i><span class="tree-label unselectable"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=122_INSTANCE_KzwKXONf3xFf&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_categoryId=12446">Customer Service</a></span></span></div>
                                             <ul class="tree-container hide" hidden="true" style="display: none;"></ul>
                                          </li>
                                          <li class="tree-node" id="yui_patched_v3_11_0_1_1410366197809_336">
                                             <div class="tree-node-content tree-node-leaf"><i class=""></i><span class="tree-label unselectable"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=122_INSTANCE_KzwKXONf3xFf&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_categoryId=12448">Project Delivery</a></span></span></div>
                                             <ul class="tree-container hide" hidden="true" style="display: none;"></ul>
                                          </li>
                                          <li class="tree-node" id="yui_patched_v3_11_0_1_1410366197809_374">
                                             <div class="tree-node-content tree-node-leaf"><i class=""></i><span class="tree-label unselectable"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=122_INSTANCE_KzwKXONf3xFf&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_categoryId=12454">sdg News</a></span></span></div>
                                             <ul class="tree-container hide" hidden="true" style="display: none;"></ul>
                                          </li>
                                          <li class="tree-node" id="yui_patched_v3_11_0_1_1410366197809_412">
                                             <div class="tree-node-content tree-node-leaf"><i class=""></i><span class="tree-label unselectable"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=122_INSTANCE_KzwKXONf3xFf&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_categoryId=12450">Technology</a></span></span></div>
                                             <ul class="tree-container hide" hidden="true" style="display: none;"></ul>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="portlet-boundary portlet-boundary_148_ portlet-static portlet-static-end portlet-borderless portlet-asset-tags-navigation " id="p_p_id_148_INSTANCE_tIC0hCcm3t0x_">
                  <span id="p_148_INSTANCE_tIC0hCcm3t0x"></span>
                  <div class="accordion-heading " data-persist-id="ejal">
                                 <div class="accordion-toggle"> <span class="title-text"> Tags </span> </div>
                              </div>
                  <div class="portlet-borderless-container" style="">
                     <div class="portlet-body">
                        <ul class="tag-items tag-list">
                           <li class="tag-popularity-2"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=3d+graphics">3d graphics</a></span></li>
                           <li class="tag-popularity-2"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=3d+lighting">3d lighting</a></span></li>
                           <li class="tag-popularity-3"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=3d+programming">3d programming</a></span></li>
                           <li class="tag-popularity-2"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=business+intelligence">business intelligence</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=configuration">configuration</a></span></li>
                           <li class="tag-popularity-3"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=efn">efn</a></span></li>
                           <li class="tag-popularity-3"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=emergency+foodshelf+network">emergency foodshelf network</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=jasperreports">jasperreports</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=jasperreports+api">jasperreports api</a></span></li>
                           <li class="tag-popularity-3"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=java">java</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=microsoft">microsoft</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=motivating+your+team">motivating your team</a></span></li>
                           <li class="tag-popularity-2"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=motivation">motivation</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=motivation+in+the+workplace">motivation in the workplace</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=power+bi">power bi</a></span></li>
                           <li class="tag-popularity-4"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=project+management">project management</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=protectedconfigurationprovider">protectedconfigurationprovider</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=self-service+bi">self-service bi</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=software+design">software design</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=strategy">strategy</a></span></li>
                           <li class="tag-popularity-1"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=theory+formulation">theory formulation</a></span></li>
                           <li class="tag-popularity-3"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=three.js">three.js</a></span></li>
                           <li class="tag-popularity-2"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=three.js+lighting">three.js lighting</a></span></li>
                           <li class="tag-popularity-4"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=volunteer">volunteer</a></span></li>
                           <li class="tag-popularity-3"><span><a href="https://sdg.solutiondesign.com/blog?p_p_id=148_INSTANCE_tIC0hCcm3t0x&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=_118_INSTANCE_KGtw0jO1mMp0__column-2&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_r_p_564233524_resetCur=true&amp;p_r_p_564233524_tag=webgl">webgl</a></span></li>
                        </ul>
                        <br style="clear: both;"> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer id='footer' role='contentinfo'>
         <section class='footer'>
            <div class='container-fluid'>
               <address>
                  <div class='footer-links col-sm-4 col-md-4'>
                     <span class='footer-heading'>sdg</span>
                     <p>7500 Olson Memorial Highway<br/>
                        Golden Valley, MN 55427<br/>
                        (952) 278-2500<br/>
                        &copy; 2014 Site by <a href='#'>SDG</a>. All rights reserved.
                     </p>
                  </div>
               </address>
               <div class='social-icons col-sm-4 col-md-4'>
                  <span class='footer-heading'>Follow Us</span>
                  <ul>
                     <li class='social-facebook'><a href='https://www.facebook.com/pages/Solution-Design-Group/30153548764 ' target='_blank'></a></li>
                     <li class='social-twitter'><a href='https://twitter.com/Solution_Design' target='_blank '></a></li>
                     <li class='social-linkedin'><a href='https://www.linkedin.com/company/20603' target='_blank '></a></li>
                     <li class='social-blog last'><a href='#'></a></li>
                  </ul>
               </div>
               <div class='find-us col-sm-4 col-md-4'>
                  <span class='footer-heading'>Find Us</span>
                  <img src='../images/map-resized.png' class='sdg-google-map' alt=''/>
               </div>
            </div>
         </section>
      </footer>
      <!-- Hidden Elements -->
      <div class='modal fade' id='contact-us' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
         <div class='modal-dialog'>
            <div class='modal-content'>
               <div class='modal-header'>
                  <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
                  <h4 class='modal-title' id='myModalLabel'>Contact SDG</h4>
               </div>
               <div class='modal-body'>
                  <div id='contact-us-form'>
                     <form action='https://sdg.solutiondesign.com/home?p_auth=YgEqdnlM&amp;p_p_id=1_WAR_webformportlet_INSTANCE_x21w&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;_1_WAR_webformportlet_INSTANCE_x21w_javax.portlet.action=saveData' class='form ' id='_1_WAR_webformportlet_INSTANCE_x21w_fm' method='post' name='_1_WAR_webformportlet_INSTANCE_x21w_fm'>
                        <input name='_1_WAR_webformportlet_INSTANCE_x21w_formDate' type='hidden' value='1409494725109'> 
                        <fieldset class='fieldset ' id='yui_patched_v3_11_0_1_1409494725758_246'>
                           <div class='' id='yui_patched_v3_11_0_1_1409494725758_245'>
                              <div class='control-group form-group' id='yui_patched_v3_11_0_1_1409494725758_244'>
                                 <label class='control-label' for='_1_WAR_webformportlet_INSTANCE_x21w_field1'> Name </label>
                                 <input class='field form-control required' id='_1_WAR_webformportlet_INSTANCE_x21w_field1' name='_1_WAR_webformportlet_INSTANCE_x21w_field1' type='text' value=''/>
                              </div>
                              <div class='control-group form-group'>
                                 <label class='control-label' for='_1_WAR_webformportlet_INSTANCE_x21w_field2'> Email Address </label>
                                 <input class='field form-control required' id='_1_WAR_webformportlet_INSTANCE_x21w_field2' name='_1_WAR_webformportlet_INSTANCE_x21w_field2' type='text' value=''/>
                              </div>
                              <div class='control-group form-group'> 
                                 <label class='control-label' for='_1_WAR_webformportlet_INSTANCE_x21w_field3'> Message </label> 
                                 <textarea class='field lfr-textarea-container form-control required' id='_1_WAR_webformportlet_INSTANCE_x21w_field3' name='_1_WAR_webformportlet_INSTANCE_x21w_field3' wrap='soft'></textarea>  
                              </div>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
               <div class='modal-footer'>
                  <button class='btn btn-primary' type='submit'> Send </button>
               </div>
            </div>
         </div>
      </div>
      <!-- end of Contact SDG Form -->
      <div class='modal fade' id='lifeRayModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
         <div class='modal-dialog'>
            <iframe class='pdfModals' src='../documents/Portal_Framework.pdf' frameBorder='0'/>
         </div>
      </div>
      <!-- end of Life Ray -->   
      <div class='modal fade' id='windowsMobilityModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
         <div class='modal-dialog'>
            <iframe class='pdfModals' src='../documents/Windows_Mobility_for_Schools.pdf' frameBorder='0'/>
         </div>
      </div>
      <!-- end of Life Ray -->   
      <div class='modal fade' id='healthFitnessModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
         <div class='modal-dialog'>
            <iframe class='pdfModals' src='../documents/BI_Health_and_Fitness.pdf' frameBorder='0'/>
         </div>
      </div>
      <!-- end of Life Ray -->   
   </body>
</html>