
<!DOCTYPE html>
<html>
   <head>
      <title>${the_title} - ${company_name}</title>
      <meta content='initial-scale=1.0, width=device-width' name='viewport' />
      <meta http-equiv='content-type' content='text/html;charset=utf-8'/>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'/>
      <link class='lfr-css-file' href='../css/custom.css' rel='stylesheet' type='text/css'/>
      <script src='../js/less.min.js'></script>
      <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
      <script src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.js'></script>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js'></script>
      <script src='../js/jquery.slider.min.js' type='text/javascript'></script>
      <script src='../js/jquery.rssfeed.js' type='text/javascript'></script>
      <script src='../js/jQCloud.min.js' type='text/javascript'></script>
      <script src='../js/bootstrap-fileInput.js' type='text/javascript'></script>
      <script type='text/javascript' src='../js/sdg.js'></script>
   </head>
   <body class='sdg-solutions'>
      <div class='thin-sdg-blue visible-md visible-lg'>
         <div class='top-info col-md-12'>
            <div class='container-fluid'>
               <div class='row'>
                  <p class='pull-left'>Solution Design Group - (952) 278-2500</p>
                  <div class='social-icons pull-right'>
                     <ul>
                        <li class="social-facebook"><a href="https://www.facebook.com/pages/Solution-Design-Group/30153548764 " target="_blank"></a></li>
                        <li class="social-twitter"><a href="https://twitter.com/Solution_Design" target="_blank "></a></li>
                        <li class="social-linkedin"><a href="https://www.linkedin.com/company/20603" target="_blank "></a></li>
                        <li class="social-blog last"><a href="#"></a></li>
                     </ul>
                  </div>
                  <!-- end of social icons -->
               </div>
            </div>
         </div>
      </div>
      <div class='top-info col-md-12'>
         <div class='row'>
            <div class='banner col-md-12'></div>
         </div>
      </div>
      <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li><a href='our-solutions.html'>Our Solutions <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
               <li><a href='our-people.html'>Our People <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
               <li><a href='blog.html' class='blog'>Blog <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
               <li><a href='about.html'>About <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
               <li><a href='#' class='contact-sdg'>Contact <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><a href='#' class='joinOurTeam'>Join Our Team <span class="glyphicon glyphicon-chevron-right visible-xs"></span></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div id='sdg-slideshow' class='col-md-12'>
         <div class='container-fluid'>
            <div class='row'>
               <div class='flexslider'>
                  <ul class='slides'>
                     <li class='first-slide'>
                        <p class='col-md-12'>Ground Up Solutions<br/>
                           From architecture design and custom application development to project delivery, we craft solutions that help you meet the customer's goals. 
                        </p>
                        <!--<a href='/about' class='btn btn-primary'>Learn More</a></p>-->
                     </li>
                     <li class='second-slide'>
                        <p class='col-md-12'>
                           Our talented team of consultants can plug in wherever they are needed, delivering answers to your most challenging problems.
                           <!--<a href='/about' class='btn btn-primary'>Learn More</a></p>-->
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class='section-titles col-md-12 studies'>
         <div class='container-fluid'>
            <div class='col-md-12'>
               <span>We Love Technology</span>
            </div>
         </div>
      </div>
      <div class='case-studies col-md-12'>
         <div class='container-fluid'>
            <div class='row'>
               <div class="portlet-boundary portlet-boundary_118_ portlet-static portlet-static-end portlet-borderless portlet-nested-portlets dark" id="p_p_id_118_INSTANCE_ZrDX6Oqp1iCT_">
                  <span id="p_118_INSTANCE_ZrDX6Oqp1iCT"></span> 
                  <div class="portlet-borderless-container" style="">
                     <div class="portlet-body">
                        <div class="columns-3" id="_118_INSTANCE_ZrDX6Oqp1iCT_main-content" role="main">
                           <div class="portlet-layout row-fluid">
                              <div class="portlet-column portlet-column-first col-md-4 first" id="_118_INSTANCE_ZrDX6Oqp1iCT_column-1">
                                 <div class="portlet-dropzone portlet-column-content portlet-column-content-first" id="layout-column__118_INSTANCE_ZrDX6Oqp1iCT__column-1">
                                    <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_JZO0SvuAMwnH_">
                                       <span id="p_56_INSTANCE_JZO0SvuAMwnH"></span> 
                                       <div class="portlet-borderless-container" style="">
                                          <div class="portlet-body">
                                             <div class="journal-content-article">
                                                <h1>Microsoft</h1>
                                                <p class='study-content'>Our Microsoft practice is only as good as our Microsoft developers... and our developers are among the best in the business. We have a winning team that can help your business integrate and build upon Microsoft's products. With a combined 500+ years of IT experience, we are confident our team can deliver for you.</p>
                                                <p><a class='btn btn-large btn-primary microsoft' href='#'>Read more</a></p>
                                             </div>
                                             <div class="entry-links"> </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="portlet-column col-md-4 mid" id="_118_INSTANCE_ZrDX6Oqp1iCT_column-2">
                                 <div class="portlet-dropzone portlet-column-content" id="layout-column__118_INSTANCE_ZrDX6Oqp1iCT__column-2">
                                    <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_suCDhz52sAbw_">
                                       <span id="p_56_INSTANCE_suCDhz52sAbw"></span> 
                                       <div class="portlet-borderless-container" style="">
                                          <div class="portlet-body">
                                             <div class="journal-content-article">
                                                <h1>Project Delivery</h1>
                                                <p class='study-content'>Our talented and reliable team of Project Managers, Business Analysts and Quality Assurance Specialists excel in facilitating, defining and delivering the right solution for your project. They have demonstrated their commitment and expertise in a diverse range of projects and programs across various industries.</p>
                                                <p><a class="btn btn-primary btn-large projectDelivery" href='#'>Read more</a></p>
                                             </div>
                                             <div class="entry-links"> </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="portlet-column portlet-column-last col-md-4 last" id="_118_INSTANCE_ZrDX6Oqp1iCT_column-3">
                                 <div class="portlet-dropzone portlet-column-content portlet-column-content-last" id="layout-column__118_INSTANCE_ZrDX6Oqp1iCT__column-3">
                                    <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_EIahSl49tErq_">
                                       <span id="p_56_INSTANCE_EIahSl49tErq"></span> 
                                       <div class="portlet-borderless-container" style="">
                                          <div class="portlet-body">
                                             <div class="journal-content-article">
                                                <h1>Open Source</h1>
                                                <p class='study-content'>Because we recognize your need to remain competitive in an increasingly networked and collaborative business environment, our open source practice has developed special expertise in key technology areas.</p>
                                                <p> <a class="btn btn-primary btn-large openSource" href='#'>Read more</a></p>
                                             </div>
                                             <div class="entry-links"> </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class='section-titles col-md-12'>
         <div class='container-fluid'>
            <div class='col-md-12'>
               <span>Strategic Relationships</span>
            </div>
         </div>
      </div>

      <div class='partners col-md-12'>
         <div class='container-fluid'>
            <div class='row'>
               <div class='col-md-4'>
                  <img src="../images/microsoft_gold_partner.png" class='partners'/>
               </div>
               <div class='col-md-4'>
                  <img src="../images/nintex.png" class='partners padding'/>
               </div>
               <div class='col-md-4'>
                  <img src="../images/liferay-logo.png" class='partners padding'/>
               </div>
            </div>
         </diV>
      </div>


      <div class='section-titles col-md-12 studies'>
         <div class='container-fluid'>
            <div class='col-md-12'>
               <span>Our Philosophy</span>
            </div>
         </div>
      </div>
      <div class='case-studies col-md-12'>
         <div class='container-fluid'>
            <div class='row'>
               <div class="portlet-boundary portlet-boundary_118_ portlet-static portlet-static-end portlet-borderless portlet-nested-portlets " id="p_p_id_118_INSTANCE_u351ajbxv3KU_">
                  <span id="p_118_INSTANCE_u351ajbxv3KU"></span> 
                  <div class="portlet-borderless-container" style="">
                     <div class="portlet-body">
                        <div class="columns-3" id="_118_INSTANCE_u351ajbxv3KU_main-content" role="main">
                           <div class="portlet-layout row-fluid">
                              <div class="portlet-column portlet-column-first span4" id="_118_INSTANCE_u351ajbxv3KU_column-1">
                                 <div class="portlet-dropzone portlet-column-content portlet-column-content-first col-md-4 first" id="layout-column__118_INSTANCE_u351ajbxv3KU__column-1">
                                    <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_Bkr6q80yZiTc_">
                                       <span id="p_56_INSTANCE_Bkr6q80yZiTc"></span> 
                                       <div class="portlet-borderless-container" style="">
                                          <div class="portlet-body">
                                             <div class="journal-content-article">
                                                <h3>Partnering</h3>
                                                <p><img alt="" src="../images/partnership.png"></p>
                                                <p>Success for us is not defined when an engagement is delivered on time or on budget, but rather when a customer becomes a partner who welcomes the opportunity to work with us again.</p>
                                             </div>
                                             <div class="entry-links"> </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="portlet-column col-md-4 mid" id="_118_INSTANCE_u351ajbxv3KU_column-2">
                                 <div class="portlet-dropzone portlet-column-content" id="layout-column__118_INSTANCE_u351ajbxv3KU__column-2">
                                    <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_wjiHb6p4nYGJ_">
                                       <span id="p_56_INSTANCE_wjiHb6p4nYGJ"></span> 
                                       <div class="portlet-borderless-container" style="">
                                          <div class="portlet-body">
                                             <div class="journal-content-article">
                                                <h3>Enterprise Application Development</h3>
                                                <p><img alt="" src="../images/enterprise.png"></p>
                                                <p>Our&nbsp;Application Development Team&nbsp;has expertise in enterprise systems architecture,&nbsp;development and integration. We pride ourselves with&nbsp;taking the time to understand our customers' business&nbsp;needs first, then crafting solutions to meet these needs.&nbsp;</p>
                                             </div>
                                             <div class="entry-links"> </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="portlet-column portlet-column-last col-md-4 last" id="_118_INSTANCE_u351ajbxv3KU_column-3">
                                 <div class="portlet-dropzone portlet-column-content portlet-column-content-last" id="layout-column__118_INSTANCE_u351ajbxv3KU__column-3">
                                    <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_VFyVijM639l5_">
                                       <span id="p_56_INSTANCE_VFyVijM639l5"></span> 
                                       <div class="portlet-borderless-container" style="">
                                          <div class="portlet-body">
                                             <div class="journal-content-article">
                                                <h3>Collabrative Development</h3>
                                                <p><img alt="" src="../images/collabrative.png"></p>
                                                <p>We collaborate every step of the way in the process and win together with our clients.&nbsp; We are seen as a true extension of their staff and occupy positions on their teams at all levels.&nbsp; Some clients provide us with a great deal of authority and control, and others prefer to keep those positions internal.&nbsp; Regardless, we are there to help them succeed.</p>
                                             </div>
                                             <div class="entry-links"> </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class='section-titles col-md-12 studies'>
         <div class='container-fluid'>
            <div class='col-md-12'>
               <span>Case Studies</span>
            </div>
         </div>
      </div>
      <div class='case-studies col-md-12'>
         <div class='container-fluid'>
            <div class='row'>
               <div class="portlet-boundary portlet-boundary_118_ portlet-static portlet-static-end portlet-nested-portlets " id="p_p_id_118_INSTANCE_v5qzgqpJfuRW_">
                  <span id="p_118_INSTANCE_v5qzgqpJfuRW"></span> 
                  <section class="portlet" id="portlet_118_INSTANCE_v5qzgqpJfuRW">
                     <header class="portlet-topper">
                        <h1 class="portlet-title"> <span class="" onmouseover="Liferay.Portal.ToolTip.show(this, 'Nested\x20Portlets')"> <img id="rjus_column1_4" src="https://sdg.solutiondesign.com/sdg-theme/images/spacer.png" alt="" style="background-image: url('https://sdg.solutiondesign.com/sprite/html/icons/_sprite.png'); background-position: 50% -304px; background-repeat: no-repeat; height: 16px; width: 16px;"> <span class="taglib-text hide-accessible">Nested Portlets</span> </span> <span class="portlet-title-text">Nested Portlets</span> </h1>
                        <menu class="portlet-topper-toolbar" id="portlet-topper-toolbar_118_INSTANCE_v5qzgqpJfuRW" type="toolbar"> </menu>
                     </header>
                     <div class="portlet-content">
                        <div class=" portlet-content-container" style="">
                           <div class="portlet-body">
                              <div class="columns-3" id="_118_INSTANCE_v5qzgqpJfuRW_main-content" role="main">
                                 <div class="portlet-layout row-fluid">
                                    <div class="portlet-column portlet-column-first col-md-4 first" id="_118_INSTANCE_v5qzgqpJfuRW_column-1">
                                       <div class="portlet-dropzone portlet-column-content portlet-column-content-first" id="layout-column__118_INSTANCE_v5qzgqpJfuRW__column-1">
                                          <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_maXJVKO3xfOl_">
                                             <span id="p_56_INSTANCE_maXJVKO3xfOl"></span> 
                                             <div class="portlet-borderless-container" style="">
                                                <div class="portlet-body">
                                                   <div class="journal-content-article white">
                                                      <h4><a href='#' class='cms'>CMS for Financial Industry</a></h4>
                                                      <p class='study-content small'>sdg&nbsp;consultants were leveraged to develop and&nbsp;implement a content migration process and document management solution that could be maintained, scaled and replicated by the customer.</p>
                                                   </div>
                                                   <a href='#' class='btn btn-primary cms'>Read More...</a>
                                                   <div class="entry-links"> </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="portlet-column span4" id="_118_INSTANCE_v5qzgqpJfuRW_column-2">
                                       <div class="portlet-dropzone portlet-column-content col-md-4 mid" id="layout-column__118_INSTANCE_v5qzgqpJfuRW__column-2">
                                          <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_SNL1ueTNwwJ2_">
                                             <span id="p_56_INSTANCE_SNL1ueTNwwJ2"></span> 
                                             <div class="portlet-borderless-container" style="">
                                                <div class="portlet-body">
                                                   <div class="journal-content-article white">
                                                      <h4><a href='#' class='dataWareHouse'>Data Warehouse for Dental Industry</a></h4>
                                                      <p class='study-content small'>sdg consultants helped provide our customer a data warehouse that tailors customer sales based on previous purchases. Their new EDW allows a significant competitive advantage in the dental industry.</p>
                                                   </div>
                                                   <a href='#' class='btn btn-primary dataWareHouse'>Read More...</a>
                                                   <div class="entry-links"> </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="portlet-column portlet-column-last span4" id="_118_INSTANCE_v5qzgqpJfuRW_column-3">
                                       <div class="portlet-dropzone portlet-column-content portlet-column-content-last col-md-4 last" id="layout-column__118_INSTANCE_v5qzgqpJfuRW__column-3 col-md-4 last">
                                          <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_QVX6WxorRHg5_">
                                             <span id="p_56_INSTANCE_QVX6WxorRHg5"></span> 
                                             <div class="portlet-borderless-container" style="">
                                                <div class="portlet-body">
                                                   <div class="journal-content-article white">
                                                      <h4><a href='#' class='socialNetwork'>Social Network for Schools</a></h4>
                                                      <p class='study-content small'>This new social network was created to provide a safe, online content sharing application that allowed students to take, share and interact with photos and videos taken of school activities.</p>
                                                   </div>
                                                   <a href='#' class='btn btn-primary dataWareHouse'>Read More...</a>
                                                   <div class="entry-links"> </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
               </div>
            </div>
         </div>
      </div>
      <div class='case-studies col-md-12'>
         <div class='container-fluid'>
            <div class='row'>
               <div class="portlet-boundary portlet-boundary_118_ portlet-static portlet-static-end portlet-borderless portlet-nested-portlets " id="p_p_id_118_INSTANCE_JMlIDKFULURt_">
                  <span id="p_118_INSTANCE_JMlIDKFULURt"></span> 
                  <div class="portlet-borderless-container" style="">
                     <div class="portlet-body">
                        <div class="columns-3" id="_118_INSTANCE_JMlIDKFULURt_main-content" role="main">
                           <div class="portlet-layout row-fluid">
                              <div class="portlet-column portlet-column-first col-md-4 first" id="_118_INSTANCE_JMlIDKFULURt_column-1">
                                 <div class="portlet-dropzone portlet-column-content portlet-column-content-first" id="layout-column__118_INSTANCE_JMlIDKFULURt__column-1">
                                    <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_GXeAx2E1ek9e_">
                                       <span id="p_56_INSTANCE_GXeAx2E1ek9e"></span> 
                                       <div class="portlet-borderless-container" style="">
                                          <div class="portlet-body">
                                             <div class="journal-content-article white">
                                                <h4><a href="/documents/10282/19756/Liferay+Healthcare.pdf/4f6c0409-d9d1-4d5c-b55a-0d4af164de96">Responsive Healthcare Portal</a></h4>
                                                <p class='study-content small'>As one of the top healthcare systems in the United States, our customer wanted to&nbsp;provide a healthcare&nbsp;experience that presented individualized health solutions to consumers.</p>
                                             </div>
                                             <a href='#' class='btn btn-primary dataWareHouse'>Read More...</a>
                                             <div class="entry-links"> </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="portlet-column" id="_118_INSTANCE_JMlIDKFULURt_column-2">
                                 <div class="portlet-dropzone portlet-column-content col-md-4 mid" id="layout-column__118_INSTANCE_JMlIDKFULURt__column-2">
                                    <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_QdMMqLDMP9qw_">
                                       <span id="p_56_INSTANCE_QdMMqLDMP9qw"></span> 
                                       <div class="portlet-borderless-container" style="">
                                          <div class="portlet-body">
                                             <div class="journal-content-article white">
                                                <h4><a href="/documents/10282/19756/IT+Audit.pdf/319294e4-8bc8-49d8-ba2d-9d46834c308f">IT Audit for Media Company</a></h4>
                                                <p class='study-content small'>Working with the client's IT and Sr. Leadership Team,&nbsp;sdg consultants&nbsp;designed, documented and implemented new software development and quality assurance processes</p>
                                             </div>
                                             <a href='#' class='btn btn-primary dataWareHouse'>Read More...</a>
                                             <div class="entry-links"> </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="portlet-column portlet-column-last" id="_118_INSTANCE_JMlIDKFULURt_column-3">
                                 <div class="portlet-dropzone portlet-column-content portlet-column-content-last col-md-4 last" id="layout-column__118_INSTANCE_JMlIDKFULURt__column-3">
                                    <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_0zKYXTEAgbuu_">
                                       <span id="p_56_INSTANCE_0zKYXTEAgbuu"></span> 
                                       <div class="portlet-borderless-container" style="">
                                          <div class="portlet-body">
                                             <div class="journal-content-article white">
                                                <h4><a href="/documents/10282/19756/Liferay+Multi-Device.pdf/6a967355-f64b-4834-8428-49ada5f430c4">Liferay Multi-Device Portal</a></h4>
                                                <p class='study-content small'>The sdg Team designed and implemented a world-class responsive web interface, which has optimized against leading devices and operating systems</p>
                                             </div>
                                             <a href='#' class='btn btn-primary'>Read More...</a>
                                             <div class="entry-links"> </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer id='footer' role='contentinfo'>
         <section class='footer'>
            <div class='container-fluid'>
               <address>
                  <div class='footer-links col-sm-4 col-md-4'>
                     <span class='footer-heading'>sdg</span>
                     <p>7500 Olson Memorial Highway<br/>
                        Golden Valley, MN 55427<br/>
                        (952) 278-2500<br/>
                        &copy; 2014 Site by <a href='#'>SDG</a>. All rights reserved.
                     </p>
                  </div>
               </address>
               <div class='social-icons col-sm-4 col-md-4'>
                  <span class='footer-heading'>Follow Us</span>
                  <ul>
                     <li class='social-facebook'><a href='https://www.facebook.com/pages/Solution-Design-Group/30153548764 ' target='_blank'></a></li>
                     <li class='social-twitter'><a href='https://twitter.com/Solution_Design' target='_blank '></a></li>
                     <li class='social-linkedin'><a href='https://www.linkedin.com/company/20603' target='_blank '></a></li>
                     <li class='social-blog last'><a href='#'></a></li>
                  </ul>
               </div>
               <div class='find-us col-sm-4 col-md-4'>
                  <span class='footer-heading'>Find Us</span>
                  <img src='../images/map-resized.png' class='sdg-google-map' alt=''/>
               </div>
            </div>
         </section>
      </footer>
      <!-- Hidden Elements -->
      <div class='modal fade' id='contact-us' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
         <div class='modal-dialog'>
            <div class='modal-content'>
               <div class='modal-header'>
                  <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
                  <h4 class='modal-title' id='myModalLabel'>Contact SDG</h4>
               </div>
               <div class='modal-body'>
                  <div id='contact-us-form'>
                     <form action='https://sdg.solutiondesign.com/home?p_auth=YgEqdnlM&amp;p_p_id=1_WAR_webformportlet_INSTANCE_x21w&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;_1_WAR_webformportlet_INSTANCE_x21w_javax.portlet.action=saveData' class='form ' id='_1_WAR_webformportlet_INSTANCE_x21w_fm' method='post' name='_1_WAR_webformportlet_INSTANCE_x21w_fm'>
                        <input name='_1_WAR_webformportlet_INSTANCE_x21w_formDate' type='hidden' value='1409494725109'> 
                        <fieldset class='fieldset ' id='yui_patched_v3_11_0_1_1409494725758_246'>
                           <div class='' id='yui_patched_v3_11_0_1_1409494725758_245'>
                              <div class='control-group form-group' id='yui_patched_v3_11_0_1_1409494725758_244'>
                                 <label class='control-label' for='_1_WAR_webformportlet_INSTANCE_x21w_field1'> Name </label>
                                 <input class='field form-control required' id='_1_WAR_webformportlet_INSTANCE_x21w_field1' name='_1_WAR_webformportlet_INSTANCE_x21w_field1' type='text' value=''/>
                              </div>
                              <div class='control-group form-group'>
                                 <label class='control-label' for='_1_WAR_webformportlet_INSTANCE_x21w_field2'> Email Address </label>
                                 <input class='field form-control required' id='_1_WAR_webformportlet_INSTANCE_x21w_field2' name='_1_WAR_webformportlet_INSTANCE_x21w_field2' type='text' value=''/>
                              </div>
                              <div class='control-group form-group'> 
                                 <label class='control-label' for='_1_WAR_webformportlet_INSTANCE_x21w_field3'> Message </label> 
                                 <textarea class='field lfr-textarea-container form-control required' id='_1_WAR_webformportlet_INSTANCE_x21w_field3' name='_1_WAR_webformportlet_INSTANCE_x21w_field3' wrap='soft'></textarea>  
                              </div>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
               <div class='modal-footer'>
                  <button class='btn btn-primary' type='submit'> Send </button>
               </div>
            </div>
         </div>
      </div>
      <!-- end of Contact SDG Form -->
      <div class='modal fade' id='lifeRayModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
         <div class='modal-dialog'>
            <iframe class='pdfModals' src='../documents/Portal_Framework.pdf' frameBorder='0'/>
         </div>
      </div>
      <!-- end of Life Ray -->   
      <div class='modal fade' id='windowsMobilityModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
         <div class='modal-dialog'>
            <iframe class='pdfModals' src='../documents/Windows_Mobility_for_Schools.pdf' frameBorder='0'/>
         </div>
      </div>
      <!-- end of Life Ray -->   
      <div class='modal fade' id='healthFitnessModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
         <div class='modal-dialog'>
            <iframe class='pdfModals' src='../documents/BI_Health_and_Fitness.pdf' frameBorder='0'/>
         </div>
      </div>
      <!-- end of Life Ray -->   
   </body>
</html>